# ----------------------
# Data files
# ----------------------
data/raw/
data/processed/

# ----------------------
# Jupyter Notebook
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Python cache
# ----------------------
__pycache__/
*.pyc

# ----------------------
# Environment / secrets
# ----------------------
.env
.env.*

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Power BI
# ----------------------
*.pbix.lock

# ----------------------
# Logs
# ----------------------
*.log