# ----------------------
# Data files
# ----------------------
# Ignore all contents inside these folders
data/raw/*
data/processed/*

# Explicitly allow the structural files to be tracked
!data/raw/.gitkeep
!data/raw/README.md
!data/processed/.gitkeep
!data/processed/README.md

# ----------------------
# Jupyter Notebook
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Python cache
# ----------------------
__pycache__/
*.pyc

# ----------------------
# Environment / secrets
# ----------------------
.env
.env.*

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Power BI
# ----------------------
*.pbix.lock

# ----------------------
# Logs
# ----------------------
*.log